<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalTechBooks</title>
</head>
<body>
    <header>
        <app-header-dashboard></app-header-dashboard>
    </header>
    <aside>
        <app-menu-user></app-menu-user>
    </aside>

<div class="table-info">

    <div class="acciones">
        <h5>Mi lista</h5>
        <div class="space">
            <button class="btn-agregar" (click)="toggleAgregar()">Agregar</button>
        </div>
    </div>

    <div id="input-datos-libros" *ngIf="mostrarAgregar">
        <div class="libros-input">
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" [(ngModel)]="nuevoItem.isbn">
        </div>
        <div class="libros-input">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" [(ngModel)]="nuevoItem.titulo">
        </div>
        <div class="libros-input">
            <label for="autor">Autor:</label>
            <input type="text" id="autor" [(ngModel)]="nuevoItem.autor">
        </div>
        <div class="libros-input">
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" [(ngModel)]="nuevoItem.tipo">
        </div>
        <div class="libros-input">
            <label for="categoria">Categoria:</label>
            <input type="text" id="categoria" [(ngModel)]="nuevoItem.categoria">
        </div>
        <div class="libros-input">
            <label for="adquisionDate">Fecha de adquisicion:</label>
            <input type="text" id="adquisionDate" [(ngModel)]="nuevoItem.adquisicionDate">
        </div>
    
        <button (click)="agregarItem()">Guardar</button>
    </div>
<table border="1">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Tipo</th>
        <th>Categoría</th>
        <th>Fecha de adquisición</th>
        <th>Fecha de vencimiento</th>
        <th>Fecha de devolución</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lista of listas">
        <td>{{ lista.isbn }}</td>
        <td>{{ lista.titulo }}</td>
        <td>        
            <div style="display: flex; align-items: center;">
                <span>{{ lista.autor }}</span>
          </div></td>
        <td>{{ lista.tipo }}</td>
        <td>{{ lista.categoria }}</td>
        <td>{{ lista.adquisicionDate | date }}</td>
        <td>{{ lista.finalizacionDate | date }}</td>
        <td>{{ lista.devueltaDate | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
  
</body>
</html>