<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>E-TechLibrary</title>
</head>

<body>
    <header>
        <app-header-landing></app-header-landing>
    </header>

    <div class="secciones">
        
        <section class="catalogo-seccion">
            <h2>Catálogo de la Biblioteca</h2>
            <p>Explora nuestra amplia colección de libros y recursos:</p>
    
            <div class="filtro">
                <label for="filtro-categoria">Filtrar por Categoría:</label>
            <select id="filtro-categoria" [(ngModel)]="categoriaSeleccionada" (change)="filtrarPorCategoria(categoriaSeleccionada)">
                <option value="todos">Todos</option>
                <option value="educacion">Novela</option>
                <option value="fantasia">Fantasia</option>
                <option value="historia">Historia</option>
                <option value="juvenil">Juvenil</option>
            </select>
            </div>
            
            <div class="content-libros">
                <div class="libro" *ngFor="let libro of libros" [style.display]="categoriaSeleccionada === 'todos' || categoriaSeleccionada === libro.categoria ? 'block' : 'none'">
                  <img [src]="libro.imagen" alt="Portada del {{ libro.titulo }}">
                  <h3>{{ libro.titulo }}</h3>
                  <p>Autor: {{ libro.autor }}</p>
                  <p>Categoría: {{ libro.categoria | uppercase }}</p>
                </div>
              </div>
              
        </section>
    
        <footer>
            <app-footer-landing></app-footer-landing>
        </footer>
    </div>

</body>

</html>