<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>E-TechLibrary</title>
</head>

<body>
    <header>
        <app-header-landing></app-header-landing>
    </header>

    <div class="secciones">
        <section class="acerca-de-seccion">
            <h2>¿Quiénes Somos?</h2>
 
                <p>Somos la Biblioteca Municipal, un centro dedicado a enriquecer la vida de nuestra comunidad a través de la promoción de la lectura, el aprendizaje y la cultura. Nos enorgullece ser un faro de conocimiento y un refugio para la imaginación.Nuestro equipo de bibliotecarios apasionados está aquí para ayudarte a descubrir nuevos mundos a través de la lectura, facilitar el acceso a la información y brindar un entorno acogedor para tu desarrollo intelectual y personal.</p>
            
        </section>
    
        <section class="mision-vision-seccion">
            <div class="mision">
                <img src="../../assets/images/Generales/mision1.png" alt="">
                <div class="texto-mision-vision">
                    <h2>Misión</h2>
                    <p>Brindar un espacio inclusivo que promueva la educación, la cultura y el placer de la lectura para todas las edades.</p>
                </div>
            </div>
            <div class="vision">
                <img src="../../assets/images/Generales/vision.png" alt="">
                <div class="texto-mision-vision">
                    <h2>Visión</h2>
                    <p>Convertirnos en un centro cultural integral, contribuyendo al desarrollo intelectual y creativo de la comunidad.</p>
                </div>
            </div>
        </section>
    
        <section class="equipo-seccion">
            <h2>Nuestro Equipo</h2>
            <div class="equipo">
                <div class="persona">
                    <img src="../../assets/images/Generales/daniel.png" alt="Foto de Persona 1">
                    <h3>Daniel Rosas</h3>
                    <p>Bibliotecario Principal</p>
                    <p>Con experiencia en biblioteconomía y gestión de bibliotecas.</p>
                </div>
                <div class="persona">
                    <img src="../../assets/images/Generales/diego.png" alt="Foto de Persona 2">
                    <h3>Diego Conde</h3>
                    <p>Asistente de Biblioteca</p>
                    <p>Apasionado por la promoción de la lectura.</p>
                </div>
                <div class="persona">
                    <img src="../../assets/images/Generales/octavio.png" alt="Foto de Persona 2">
                    <h3>Octavio Ramos</h3>
                    <p>Asistente de Biblioteca</p>
                    <p>Apasionado por la atención al cliente.</p>
                </div>
            </div>
        </section>

        <footer>
            <app-footer-landing></app-footer-landing>
        </footer>
    </div>

</body>

</html>