<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>E-TechLibrary</title>
</head>
<body>
    <header>
        <app-header-landing></app-header-landing>
    </header>

   <div class="secciones">
    <section class="inicio-servicio">
        <h1>Nuestros Servicios para E-TechLibrary</h1>
        <div class="info-texto">
            <div class="columna">
                <p>En E-TechLibrary, estamos aquí para hacerte la vida más fácil. Hemos diseñado una serie de servicios pensados en ti, para que disfrutes al máximo de tu experiencia en la biblioteca.</p>
            </div>
              <div class="columna">
                <img src="../../assets/images/Generales/biblioteca.png" alt="">
            </div>
        </div>
    </section>
    <section class="nuestros-servicios">
        <h1>Nuestros Servicios incluyen</h1>
        <div class="columnas-servicios">
            <div class="info-servicios">
                <div class="img-servicios">
                    <img src="../../assets/images/Generales/servicio1.png" alt="">
                </div>
                <div class="lista">
                    <h6>¡Encuentra tus Libros Fácilmente!:</h6>
                    <ul>
                        <li>Nuestro catálogo en línea te permite buscar y reservar libros con solo unos clics.
                        </li>
                        <li>Nunca más te preocupes por perder un libro; te ayudamos a llevar un registro de tus préstamos.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="info-servicios">
                <div class="img-servicios">
                    <img src="../../assets/images/Generales/servicio2.png" alt="">
                </div>
                <div class="lista">
                    <h6>¿Qué Vas a Leer Hoy?:</h6>
                    <ul>
                        <li>¿Necesitas recomendaciones? Creamos un perfil personalizado para ti basado en tus gustos y preferencias.
                        </li>
                        <li>¡Te ayudamos a encontrar ese próximo libro emocionante!
                        </li>
                    </ul>
                </div>
            </div>
            <div class="info-servicios">
                <div class="img-servicios">
                    <img src="../../assets/images/Generales/servicio3.png" alt="">
                </div>
                <div class="lista">
                    <h6>Acceso a tu Biblioteca en Línea:</h6>
                    <ul>
                        <li>No importa dónde te encuentres, puedes acceder a nuestras colecciones digitales en línea.
                        </li>
                        <li>Lee e-books y disfruta de recursos digitales desde la comodidad de tu hogar.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="info-servicios">
                <div class="img-servicios">
                    <img src="../../assets/images/Generales/servicio4.png" alt="">
                </div>
                <div class="lista">
                    <h6>Préstamo sin Complicaciones: </h6>
                    <ul>
                        <li>Nuestro sistema automatizado facilita el préstamo y la devolución de libros.
                        </li>
                        <li>No te preocupes por las fechas de vencimiento; te recordaremos cuándo es hora de devolver tus libros.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="servicios-seccion">
        <h3>Beneficios de Nuestros Servicios</h3>
        <p class="texto">Nuestros servicios están diseñados para hacerte la vida más cómoda y placentera cuando visitas la biblioteca. Los beneficios que experimentarás incluyen:</p>

        <div class="servicios-content">
            <img src="../../assets/images/Generales/libreria.png" alt="">
            <ul>
                <li>Encontrar libros y recursos más rápidamente.</li>
                <li>Recibir recomendaciones de lecturas que te gusten.</li>
                <li>Acceder a libros y recursos en línea desde donde quieras.</li>
                <li>Evitar las preocupaciones sobre multas y devoluciones.</li>
            </ul>
        </div>
    </section>
   </div>

    <footer>
        <app-footer-landing></app-footer-landing>
    </footer>
</body>
</html>