@import "~@fortawesome/fontawesome-free/css/all.css";

.info{
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }

  .datos h1{
    display: flex;
    justify-content: center;
    color: #1C1C1C;
    leading-trim: both;
    text-edge: cap;
    font-family: Smooch Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .linea-naranja {
    border-bottom: 2px solid orange;
  }
  
  .opciones{
    display: flex;
    cursor: pointer;
    justify-content:space-around;
    margin-bottom: 17px;
    margin-top: -20px;
  }

  .opciones a{
    display: flex;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Smooch Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .datos .iniciar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .datos .registro{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .datos .iniciar input{
    width: 364px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #F2F2F2;
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-bottom: 20px;
    padding-left: 30px;
  }

  .datos .registro input{
    width: 364px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #F2F2F2;
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-bottom: 20px;
    padding-left: 32px;
  }

  .datos #iniciar-sesion{
    width: 364px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #1C1C1C;
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
  }

  .datos #registrarse{
    width: 364px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #1C1C1C;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
  }

  .datos .iniciar-cuentas{
    width: 364px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 1px solid #1C1C1C;
    margin-bottom: 20px;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .iniciar-cuentas i{
    font-size: 20px;
    margin-right: 5px;
  }

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 35%;
  transform: translateY(-50%);
}

  .registrarse-cuentas i{
    font-size: 20px;
    margin-right: 5px;
  }

  .fa-google {
    color: #4285f4; 
  }
  
  .fa-facebook {
    color: #3b5998;
  }
  
  .datos .registrarse-cuentas{
    width: 364px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 1px solid #1C1C1C;
    margin-bottom: 20px;
    background-color: #FFF;
    cursor: pointer;
  }  

  .datos span{
    margin: 10px;
  }

  /*Diseño de las imagenes*/
  
  .img-login{
    margin-top: 10%;
    width:  95%;
    height: 90%;
    flex-shrink: 0;
    border-radius: 40px;
    background: linear-gradient(180deg, #A43814 0%, #FC984C 100%);
  }

  .img-login img{
    margin-top: -40px;
    width: 100%;
    height: 39.4em;
  }