<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalTechBooks</title>
</head>
<body>
    <header>
        <app-header-dashboard></app-header-dashboard>
    </header>
    <aside>
        <app-menu-user></app-menu-user>
    </aside>

    <div class="container-dashboard">
        <section class="content-espera">
            <div class="content-book">
                <img src="../../assets/images/Libros/como nos arreglamos.jpg" alt="">
                <div class="text-book">
                    <span>Seguir leyendo</span>
                    <button><i class="fas fa-book-reader"></i></button>
                </div>
            </div>
            <div class="content-book">
                <img src="../../assets/images/Libros/el codigo da vinci.jpg" alt="">
                <div class="text-book">
                    <span>Seguir leyendo</span>
                    <button><i class="fas fa-book-reader"></i></button>
                </div>
            </div>
            <div class="content-book">
                <img src="../../assets/images/Libros/la era digital.png" alt="">
                <div class="text-book">
                    <span>Seguir leyendo</span>
                    <button><i class="fas fa-book-reader"></i></button>
                </div>
            </div>
            <div class="content-book">
                <img src="../../assets/images/Libros/la era digital.png" alt="">
                <div class="text-book">
                    <span>Seguir leyendo</span>
                    <button><i class="fas fa-book-reader"></i></button>
                </div>
            </div>
        </section>

          <section class="recomendacion-libros">
            <h1>Recomendaciones</h1>
            <div class="recomendaciones">                <div class="libros">
                    <img src="../../assets/images/Libros/libro integrado.jpg" alt="">
                    <span>Libro integrado</span>
                </div>
                <div class="libros">
                    <img src="../../assets/images/Libros/red queen.jpg" alt="">
                    <span>Red queen</span>
                </div>
                <div class="libros">
                    <img src="../../assets/images/Libros/atlas de  mexico.jpg" alt="">
                    <span>Atlas de Mexico</span>
                </div>
                <div class="libros">
                    <img src="../../assets/images/Libros/calvino.jpg" alt="">
                    <span>Calvino</span>
                </div>
                <div class="libros">
                    <img src="../../assets/images/Libros/el caballero astado.jpg" alt="">
                    <span>El caballero astado</span>
                </div>
            </div>
          </section>
    </div>
</body>
</html>